h1,
h2,
h3,
h4,
h5,
h6 {
  color: #A4A400;
  background-color: #F0F0F0;
  font-family: "Lucida Sans Unicode", Helvetica, Arial, or any sans-serif;
  text-align: left;
  font-size: 18pt;
  text-decoration: underline;
}

h1{
  text-align: center;
  font-size: 22pt;
  font-weight: bold;
}

